.font-system {
  font-family:
    -apple-system,
    system-ui,
    ui-sans-serif,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
}

.font-roboto{
  font-family: "Roboto", serif;
}

.font-ubuntu {
  font-family: "Ubuntu", serif;
}

.font-merriweather{
  font-family: "Merriweather", serif;
}

.font-noto-sans{
  font-family: "Noto Sans", serif;
}

.font-noto-serif{
  font-family: "Noto Serif", serif;
}

.font-arima{
  font-family: "Arima", system-ui;
}

.font-lora{
  font-family: "Lora", serif;
}

.font-inconsolata{
  font-family: "Inconsolata", serif;
}